<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Product Image</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        h1{
            text-align: center;
        }
        .container{
        text-align: center;
       }
       .custom-file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #71db83;
}

    </style>
</head>
<body>
    <h1 style="color: rgb(26, 211, 211);">Upload Product Image</h1>
    <div class="container">
    <form class="form" action="/upload" method="post" enctype="multipart/form-data">
        <input class='custom-file-upload' type="file" name="file">
        <input style="padding: 10px; color: rgb(19, 138, 138);" type="submit" value="Upload">
    </form>
</div>
</body>
</html>
